<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.dao.ConnectPointMapper">

    <select id="getConnectPointRank" resultType="com.bigdata.model.entity.ConnectPoint.ConnectPointRank">
        SELECT COUNT(*) AS COUNT, PROVINCE
        FROM NWQUALITY
        <where>
            <if test="dto.nwOperator != null and dto.nwOperator != ''">
                AND NWOPERATOR = #{dto.nwOperator}
            </if>
            <if test="dto.startTime != null and dto.endTime != null">
                AND DAYTIME BETWEEN #{dto.startTime} AND #{dto.endTime}
            </if>
        </where>
        GROUP BY PROVINCE
        ORDER BY COUNT DESC
        LIMIT 10
    </select>



    <select id="getConnectPointDistribution" resultType="com.bigdata.model.entity.ConnectPoint.ConnectPointDistribution">
        SELECT GPSLAT, GPSLON, NWOPERATOR
        FROM NWQUALITY
        <where>
            <if test="dto.nwOperator != null and dto.nwOperator != ''">
                AND NWOPERATOR = #{dto.nwOperator}
            </if>
            <if test="dto.startTime != null and dto.endTime != null">
                AND DAYTIME BETWEEN #{dto.startTime} AND #{dto.endTime}
            </if>
        </where>
        LIMIT 10
    </select>

</mapper>