<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bigdata.dao.NwQualityMapper">

    <select id="getStatistics" resultType="com.bigdata.model.entity.NetworkQuality.NwQualityStatistics">
        SELECT
        NWOPERATOR,
        NWTYPE,
        <choose>
            <when test="speedType == 'ulspeed'">
                AVG(ULSPEED) AS SPEED
            </when>
            <when test="speedType == 'dlspeed'">
                AVG(DLSPEED) AS SPEED
            </when>
            <when test="speedType == 'latency'">
                AVG(LATENCY) AS SPEED
            </when>
            <otherwise>
                AVG(ULSPEED) AS SPEED
            </otherwise>
        </choose>
        FROM
            NWQUALITY
        <where>
            <choose>
                <when test="nwOperator == 'ALL'">
                    AND NWOPERATOR  IN ('CMCC', 'CUCC', 'CTCC')
                </when>
                <otherwise>
                    <if test="nwOperator != null">AND NWOPERATOR = #{nwOperator}</if>
                </otherwise>
            </choose>
            <choose>
                <when test="nwType == 'ALL'">
                    AND NWTYPE IN ('2G', '3G', '4G','WIFI')
                </when>
                <otherwise>
                    <if test="nwType != null"> AND NWTYPE = #{nwType}</if>
                </otherwise>
            </choose>
            <if test="startDate != null and startDate != 0">AND DAYTIME &gt; #{startDate} </if>
            <if test="endDate != null and endDate != 0">AND DAYTIME &lt; #{endDate}</if>
        </where>
        GROUP BY
            NWOPERATOR, NWTYPE
        ORDER BY
            NWOPERATOR, NWTYPE
    </select>

    <select id="getRanks" resultType="com.bigdata.model.entity.NetworkQuality.NwSpeedRank">
        SELECT
            PROVINCE,
            NWOPERATOR,
        <choose>
            <when test="speedType == 'ulspeed'">
                AVG(ULSPEED) AS SPEED
            </when>
            <when test="speedType == 'dlspeed'">
                AVG(DLSPEED) AS SPEED
            </when>
            <when test="speedType == 'latency'">
                AVG(LATENCY) AS SPEED
            </when>
            <otherwise>
                AVG(ULSPEED) AS SPEED
            </otherwise>
        </choose>
        FROM
            NWQUALITY
        <where>
            <choose>
                <when test="nwOperator == 'ALL'">
                    AND NWOPERATOR  IN ('CMCC', 'CUCC', 'CTCC')
                </when>
                <otherwise>
                    <if test="nwOperator != null">AND NWOPERATOR = #{nwOperator}</if>
                </otherwise>
            </choose>
            <if test="startDate != null and startDate != 0">AND DAYTIME &gt; #{startDate} </if>
            <if test="endDate != null and endDate != 0">AND DAYTIME &lt; #{endDate}</if>
        </where>
        GROUP BY
            PROVINCE, NWOPERATOR
        ORDER BY
            PROVINCE ASC, NWOPERATOR ASC

    </select>

    <select id="getTypicalTracking"
            resultType="com.bigdata.model.entity.NetworkQuality.TypicalNWQualityTracking">
        SELECT
            NWOPERATOR,
        <choose>
            <when test="timeGranularity == 'hour' ">
                TO_CHAR(DAYTIME,'#') AS x_rate,
            </when>
            <when test="timeGranularity == 'day' ">
                TO_CHAR(DAYTIME/100,'#') AS x_rate,
            </when>
            <otherwise>
                TO_CHAR(DAYTIME/10000,'#') AS x_rate,
            </otherwise>
        </choose>
        <choose>
            <when test="speedType == 'ulspeed'">
                AVG(ULSPEED) AS SPEED
            </when>
            <when test="speedType == 'dlspeed'">
                AVG(DLSPEED) AS SPEED
            </when>
            <when test="speedType == 'latency'">
                AVG(LATENCY) AS SPEED
            </when>
            <otherwise>
                AVG(ULSPEED) AS SPEED
            </otherwise>
        </choose>
        FROM
            NWQUALITY
        <where>
            <choose>
                <when test="nwOperator == 'ALL'">
                    AND NWOPERATOR  IN ('CMCC', 'CUCC', 'CTCC')
                </when>
                <otherwise>
                    <if test="nwOperator != null">AND NWOPERATOR = #{nwOperator}</if>
                </otherwise>
            </choose>
            <choose>
                <when test="nwType == 'ALL'">
                    AND NWTYPE IN ('2G', '3G', '4G','WIFI')
                </when>
                <otherwise>
                    <if test="nwType != null"> AND NWTYPE = #{nwType}</if>
                </otherwise>
            </choose>
            <if test="landmark != null">AND LANDMARK = #{landmark}</if>
            <if test="startDate != null and startDate != 0">AND DAYTIME &gt; #{startDate} </if>
            <if test="endDate != null and endDate != 0">AND DAYTIME &lt; #{endDate}</if>
        </where>
        GROUP BY
            NWOPERATOR,
            x_rate
        ORDER BY
            x_rate
    </select>

    <select id="getLandmarkStatistics"
            resultType="com.bigdata.model.entity.NetworkQuality.TypicalNWQualityStatistics">
        SELECT
            NWOPERATOR,
            LANDMARK,
        <choose>
            <when test="speedType == 'ulspeed'">
                AVG(ULSPEED) AS SPEED
            </when>
            <when test="speedType == 'dlspeed'">
                AVG(DLSPEED) AS SPEED
            </when>
            <when test="speedType == 'latency'">
                AVG(LATENCY) AS SPEED
            </when>
            <otherwise>
                AVG(ULSPEED) AS SPEED
            </otherwise>
        </choose>
        FROM
            NWQUALITY
        <where>
            <choose>
                <when test="nwOperator == 'ALL'">
                    AND NWOPERATOR  IN ('CMCC', 'CUCC', 'CTCC')
                </when>
                <otherwise>
                    <if test="nwOperator != null">AND NWOPERATOR = #{nwOperator}</if>
                </otherwise>
            </choose>
            <choose>
                <when test="nwType == 'ALL'">
                    AND NWTYPE IN ('2G', '3G', '4G','WIFI')
                </when>
                <otherwise>
                    <if test="nwType != null"> AND NWTYPE = #{nwType}</if>
                </otherwise>
            </choose>
            <if test="startDate != null and startDate != 0">AND DAYTIME &gt; #{startDate} </if>
            <if test="endDate != null and endDate != 0">AND DAYTIME &lt; #{endDate}</if>
        </where>
        GROUP BY
            NWOPERATOR,
            LANDMARK
        ORDER BY
            NWOPERATOR ASC,
            LANDMARK ASC
    </select>
    <select id="getDistribution" resultType="com.bigdata.model.entity.NetworkQuality.NwQualityDistribution">
        SELECT
            GPSLON as userLon,
            GPSLAT as userLat,
        <choose>
            <when test="speedType == 'ulspeed'">
                AVG(ULSPEED) AS SPEED
            </when>
            <when test="speedType == 'dlspeed'">
                AVG(DLSPEED) AS SPEED
            </when>
            <when test="speedType == 'latency'">
                AVG(LATENCY) AS SPEED
            </when>
            <otherwise>
                AVG(ULSPEED) AS SPEED
            </otherwise>
        </choose>
        FROM
            NWQUALITY
        <where>
            <choose>
                <when test="nwOperator == 'ALL'">
                    AND NWOPERATOR  IN ('CMCC', 'CUCC', 'CTCC')
                </when>
                <otherwise>
                    <if test="nwOperator != null">AND NWOPERATOR = #{nwOperator}</if>
                </otherwise>
            </choose>
            <choose>
                <when test="nwType == 'ALL'">
                    AND NWTYPE IN ('2G', '3G', '4G','WIFI')
                </when>
                <otherwise>
                    <if test="nwType != null"> AND NWTYPE = #{nwType}</if>
                </otherwise>
            </choose>
            <if test="startDate != null and startDate != 0">AND DAYTIME &gt; #{startDate} </if>
            <if test="endDate != null and endDate != 0">AND DAYTIME &lt; #{endDate}</if>
            <if test="llat != null">AND GpsLat >= #{llat}</if>
            <if test="rlat != null">AND GPSLAT &lt;= #{rlat}</if>
            <if test="dlon != null">AND GPSLON >= #{dlon}</if>
            <if test="ulon != null">AND GPSLON &lt;= #{ulon}</if>
        </where>
        GROUP BY
            USERLON,
            USERLAT
        ORDER BY
            USERLON,
            USERLAT
    </select>
</mapper>